NODE_ENV=development
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=template-service
DB_NAME_TEST=template-service-test
RABBITMQ=amqp://rabbitmq
API_BASE_URL=http://localhost:4123/
DB_ENABLE_SSL=false
